@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins&family=Tangerine&display=swap');
    * {
        border: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
    }

body {
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right, red, orangered);
    justify-content: center;
    align-items: center;
}

 .seclg {
    background-color: rgba(249, 250, 255, 0.856);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    height: 300px;
    width: 400px;
    box-shadow: 3px 3px 6px black;
}

h1{
    color: rgb(0, 0, 0);
    font-size: 30px;
}

#nomelg{
    font-size: 30px;
}

#senhalg{
    font-size: 30px;
}

#nome {
    border-radius: 20px;
    height: 30px;
    width: 200px;
    justify-content: space-between;
    font-size: 15px;
}

#senha {
    border-radius: 20px;
    height: 30px;
    width: 200px;
    justify-content: space-between;
    font-size: 15px;
}

.btnlg {
    padding-top: 20px;
    display: flex;
    width: 75%;
    gap: 20px;
}

.btnlg button{
    width: 100%;
    border-radius: 20px;
    padding: 5px;
    background-image:linear-gradient(to right, orange, orangered); 
    color: aliceblue;
}