@import url('https://fonts.googleapis.com/css2?family=Borel&family=Poppins&family=Tangerine&display=swap');
    * {
        border: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient(to right,orange, blue);
    justify-content: center;
    align-items: center;
}
h1{
    color: aliceblue;
    font-size: 30px;
    position: absolute;
    top: 10px;
}
 
#lnome {
    font-size: 30px;
}

#lmodulo {
    font-size: 25px;
}

#modulo{
    border-radius: 20px;
    height: 30px;
    width: 200px;
}

#nome{
    border-radius: 20px;
    height: 30px;
    width: 200px;
    justify-content: space-between;
    font-size: 40px;
}


.painel{

    position: relative;
    background-color: rgb(144, 163, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 50px;
    height: 300px;
    width: 400px;
}


#bconfirmar {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: ;
}

#blimpar {
    width: 120px;
    height: 20px;
    border-radius: 20px;
    position: absolute;
    bottom: ;
}